body {
    margin: 0;
    padding: 0;
    background-color: #232323
}

h1 {
    margin: 0;
    padding: 3%;
    clear: both;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: steelblue;
}

#messageDiv {
    height: 5%;
    text-align: center;
    background-color: white;
    padding: 0;
    margin: 0;
}

button {
    height: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    background: none;
    background-color: inherit;
    color: steelblue;
    outline: none;
    border: none;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

button:hover {
    background-color: #232323;
    color: white;
    height: 100%;
}

#messageDiv span {
    color: purple;
    padding: 0 10%;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-top: 2%;
}

.selected {
    background-color: #232323;
    color: white;
}

.container .box {
    border-radius: 15%;
    margin: 1.66%;
    width: 30%;
    background: brown;
    float: left;
    padding-bottom: 30%;
    display: block;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.06s;
}

.clear {
    clear: both;
}

footer {
    color: white;
    text-align: center;
}